html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* //给左侧功能按钮设置样式 */
.el-submenu__title,.el-menu-item{
  font-size:13px;
}
i.iconfont{
  margin-right:10px;
}

/* 内容区卡片区域样式 */
.box-card{
  margin-top:15px;
}

/* 表格样式 */
.el-table {
  margin-top:15px;
  font-size:12px; 
}

/* 分页条 */
.el-pagination{
  margin-top:15px;
}